.error-headline {
  color: red;
  margin-bottom: 0;
  margin-top: 25px;
}

.error-reload-message {
  margin-top: 0;
  margin-bottom: 0;
}

.error-errors-list-headline {
  margin-bottom: 0;
  font-weight: bold;
  margin-top: 13px;
}

.error-error-message {
  margin-top: 0;
  margin-bottom: 0;
}