@import "src/common/_common";

.auth-form {
  @include form-flex();
}

.auth-form__remember-me-input {
   vertical-align: middle;
}

.auth-form__show-password-label {
  @include show-password-label();
}

.auth-form__submit-button {
  margin-top: 3px;
  margin-bottom: 0;
  height: 25px;
  &:hover {
    cursor: pointer;
  }
}

.auth-form__remember-me-container {
  margin-bottom: 15px;
}