@import "src/common/_common";

.reset-password-form {
  @include form-flex();
}

.reset-password-form__password-sent-message {
  max-width: 230px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.password-changed {
  color: green;
}

.reset-password-form__first-link {
  margin-top: 7px;
  display: block;
  margin-bottom: 5px;
}

.reset-password-form__submit-button {
  margin: 15px auto 20px;
  width: 240px;
  &:hover {
    cursor: pointer;
  }
}

.reset-password-form__show-password-label {
  @include show-password-label();
}