.reset-password-form {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.password-changed {
  color: green;
}

.reset-password-form__first-link {
  margin-top: 7px;
}

.reset-password-form__submit-button {
  margin-top: 15px;
  margin-bottom: 20px;
  &:hover {
    cursor: pointer;
  }
}