@import "src/common/_common";

.signup-form {
  @include form-flex();
}

.signup-form__first-link {
  margin-top: 7px;
}

.signup-form__submit-button {
  margin-top: 15px;
  margin-bottom: 5px;
  &:hover {
    cursor: pointer;
  }
}

.signup-form__show-password-label {
  @include show-password-label();
}