.signup-form {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.signup-form__first-link {
  margin-top: 7px;
}

.signup-form__submit-button {
  margin-top: 15px;
  margin-bottom: 5px;
  &:hover {
    cursor: pointer;
  }
}

.show-password-label {
  font-weight: bold;
  font-size: x-small;
  display: flex;
  justify-content: center;
  align-items: center;
}